<h1>Twitter Index</h1>
<p>
Enter name of someone whose Twitter feed you would like to analyze.
<p>
<form name="input" action="show.html" method="get">
Twitter name: <input type="text" name="twitname" />
<input type="submit" value="Submit" />
</form>
